<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <configSections>
    <section name="ApiSettings" type="IntranetDASHBOARD.API.ApiSettings" />
  </configSections>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="IntranetManager" type="IntranetDASHBOARD.API.IntranetModule" />
    </modules>
  </system.webServer>
  <!-- This section allows you to register the CMS Components exposed by your application-->
  <ApiSettings>
    <ApplicationDetails name="Social Applications" vendor="adweb" version="1.0.0.1">
    </ApplicationDetails>
    <CmsComponents>
      <add uniqueKey="Blank" title="Blank" virtualPath="Default.aspx" iconPath="/images/wiki/component/template.gif" description="Blank API">
      </add >
      <add uniqueKey="Twitter" title="Twitter" virtualPath="Twitter.aspx" iconPath="/images/wiki/component/template.gif" description="Twitter API">
        <property title="Username" description="The username of the Twitter account." defaultValue="" uniqueKey="UserName" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
        <property title="Tweet Count" description="Total number of tweets to be displayed." defaultValue="" uniqueKey="TweetCount" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
      </add >
      <add uniqueKey="FBWallFeed" title="Facebook" virtualPath="Facebook.aspx" iconPath="/images/wiki/component/template.gif" description="Facebook Wall Feed">
        <property title="Group ID / Group Name" description="Facebook Group's ID or Group Fan Page Name." defaultValue="" uniqueKey="GroupID" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
        <property title="Access Token" description="Facebook APP's Access Token." defaultValue="" uniqueKey="AccessToken" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
        <property title="Number of posts" description="Total number of posts to be displayed." defaultValue="5" uniqueKey="limit" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
      </add >
      <add uniqueKey="YammerFeedXML" title="Yammer" virtualPath="Yammer.aspx" iconPath="/images/wiki/component/template.gif" description="Yammer Group Feed">
        <property title="Access Token" description="Yammer Access Token." defaultValue="" uniqueKey="AccessToken" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
        <property title="Group Name" description="Yammer Group Name." defaultValue="" uniqueKey="GroupName" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
      </add >
    </CmsComponents>
  </ApiSettings>
</configuration>